<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="GitLab Pages">
    <title>Stanleystam Vlaggenroof</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        De Stanleystam Vlaggenroof
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Pagina 2</a></li> -->
        </ul>
        <span class="navbar-text">
          <a class="text-primary font-weight-bold" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Klik hier voor ALLE features </a>
        </span>
      </div>
      <!-- <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Klik hier voor ALLE features </a></p> -->
    </nav>
    <div class="container pt-3">

      <div class="row">
        <div class="col-lg-12">
          <p>
            Dit is een webpagina over de Stanleystam vlaggenroof. <br>
            Vlaggenroof is een offline coronaproof spel, waardoor je in beweging komt en de stad nòg beter leert kennen.<br>
            Heb je onze vlag gevonden ergens op een plek in de mooie stad Groningen, laat deze dan alsjeblieft liggen!<br>
            De foto is gedeeld in een whatsappgroep en het kan niet lang duren voor iemand hem weer op komt halen om een punt te verdienen.<br>
            Voor vragen e-mail: <a href="mailto:vlag@stanleystam.nl">vlag@stanleystam.nl</a><br>
            Alvast bedankt!
          </p>
          <p>
            Voor het laatst geupdate op: {{ last_update }}
          </p>
        </div>
        <div class="col-lg-6">
          <h2>Regels</h2>
            <ul>
              <li>Probeer met 30 minuten een nieuwe plek te posten. Als je binnen 60 minuten geen nieuwe plek post, vervalt je punt.</li>
              <li>De vlag moet te allen tijde:<ul>
                <li>bereikbaar zijn</li>
                <li>in de stad zijn</li>
                <li>niet kwijtraken</li>
                <li>aan de hand van de hint te vinden zijn.</li>
              </ul>
              </li>
              <li>Degene die de vlag als eerste aanraakt, verdient een punt. Stuur bewijs van je vondst in de vorm van een selfie.</li>
              <li>Nadat je eigen vlag geroofd is moet je na de volgende hint 90 minuten wachten voor je hem mag pakken. Als de vlag in die tijd weer een nieuwe locatie krijgt, doe je wel weer mee.</li>
            </ul>
            
            <p>
            Op deze pagina zijn de scores te vinden zoals Jasper ze heeft ingevoerd in deze 
            <a href="https://docs.google.com/spreadsheets/d/1W0Pm_jE0e5pKRzSprZz2aneY4EnmwNO3EMnH014ROiE/edit?usp=sharing">deze google sheets</a>.<br>
            Thijs houdt het ook bij op zijn <a href="https://colab.research.google.com/drive/1NLXJN5glxYIoiHhOPfGbH3H2PiZzM5re">google colab</a>.
            </p>
        </div>
        <div class="col-lg-6">
          <h3>{{ top_plots[0][0] }}</h3>
          <img src="plots/{{ top_plots[0][1] }}" alt="{{ top_plots[0][1] }}" />
        </div>
        {% for img in top_plots[1:] %}
        <div class="col-lg-6 mt-5">
          <h3>{{ img[0] }}</h3>
          <img src="plots/{{ img[1] }}" alt="{{ img[1] }}" />
        </div>
        {% endfor %}

        <div class="col-lg-12 mt-5">
          <h2>Overige Grafiekjes</h2>
{% for img in plots %}    <img src="plots/{{ img }}" alt="{{ img }}" />
{% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
