<p> Voor het laatst geupdate om2021-03-15, 20:04<\p><img src="plots/dagen.png" alt="dagen.png">
<img src="plots/gemiddelde_verstoptijd.png" alt="gemiddelde_verstoptijd.png">
<img src="plots/gemiddelde_vindtijd.png" alt="gemiddelde_vindtijd.png">
<img src="plots/hoe_lang_duurt_verstoppen.png" alt="hoe_lang_duurt_verstoppen.png">
<img src="plots/hoe_lang_ligt_de_vlag.png" alt="hoe_lang_ligt_de_vlag.png">
<img src="plots/populaire_vindtijden.png" alt="populaire_vindtijden.png">
<img src="plots/punten.png" alt="punten.png">
<img src="plots/punten_per_dag.png" alt="punten_per_dag.png">
<img src="plots/punten_per_vinder_per_dag.png" alt="punten_per_vinder_per_dag.png">
<img src="plots/scatter_verstop_v_vind.png" alt="scatter_verstop_v_vind.png">
<img src="plots/taartpunten.png" alt="taartpunten.png">
<img src="plots/tijdshistogram.png" alt="tijdshistogram.png">
<img src="plots/wiens_vlag_vond_iedereen.png" alt="wiens_vlag_vond_iedereen.png">
